<% provide(:title, "Home") %>

<div class="jumbotron">

  <h1>Hello Online Courses App</h1>

  <p>
  Welcome to one of the best online courses app in the world.
  With us, you will learn everything about programming languages.
  <br>

  So let's begin with your first course !
  <br>
  <br>
  To start learning, just click on Courses.
  </p>

</div>

